body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 1rem;
    line-height: 1.6;
  }

  header, footer {
    background-color: #333;
    color:white;
    text-align: center;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    max-width: 800px;
    margin: 1rem auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
  }

  select,
  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 5px;
    border: 2px solid #ccc;
  }

  .rating {
    display: flex;
    flex-direction:row;
    justify-content:left;
    gap: 5px;
    margin-top: 0.5rem;
  }

 

  .rating label {
    font-size: 1.5rem;
    color:black;
   
  }

  .rating label:checked ,
  .rating label:hover
   {
    color: gold;
  }

  .check-box {
    margin-top: 0.5rem;
  }

  .check-box label {
    font-weight: normal;
    display: block;
  }

  input[type="submit"] {
    margin-top: 1.5rem;
    padding: 0.75rem;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }